<app-navbar></app-navbar>
<div class="container">
    <div class="ui card">
        <h1>Team Generator</h1>
        <ul class="list">
            <li *ngFor="let person of persons ">{{person}}</li>
        </ul>
        <div class="add-member-container">
            <input #addPersonInput type="text" placeholder="Name" (input)="onInput(addPersonInput.value)" [value]="newPersonName">
            <button (click)="addPerson()">Add</button>
        </div>
        <div class="input-container">
            <input #numberOfTeamsInput type="number" placeholder="Number of teams " (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)" [value]="numberOfTeams">
            <button (click)="generateTeam()">Generate</button>
        </div>
        <p *ngIf="errorMessage" class="error-msg">{{errorMessage}}</p>
    </div>
</div>