<app-navbar></app-navbar>
<div class="container">
    <div class="ui card">
        <h1>Team Generator</h1>
        <ul class="list">
            <li *ngFor="let person of persons ">{{person | titlecase}}</li>
        </ul>
        <div class="add-member-container">
            <input #addPersonInput type="text" placeholder="Name" (input)="onInput(addPersonInput.value)" [value]="newPersonName">
            <button (click)="addPerson()">Add</button>
        </div>
        <div class="input-container">
            <input #numberOfTeamsInput type="number" placeholder="Number of teams " (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)" [value]="numberOfTeams">
            <button (click)="generateTeam()">Generate</button>
        </div>
        <p *ngIf="errorMessage" class="error-msg">{{errorMessage}}</p>
    </div>

    <div *ngIf="teams.length" class="teams-container">

        <div *ngFor="let team of teams; let i=index " class="team-container">
            <h3>Team {{i+1}}</h3>

            <ul>
                <li *ngFor="let person of team">{{person | titlecase}}</li>
            </ul>

        </div>
    </div>
</div>